.embla {
    width: 100%;
    max-width: 68rem;
    margin: auto;
    --slide-height: 14rem;
    --slide-spacing: 1rem;
    --slide-size: 60%;
  }
  
  .embla__viewport {
    overflow: hidden;
    border-radius: 4rem;
  }
  
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  
  .embla__slide {
    flex: 0 0 calc(50% - var(--slide-spacing)); /* Adjusted for responsiveness */
    min-width: 0;
    padding-left: var(--slide-spacing);
    margin-bottom: var(--slide-spacing); /* Added for spacing between slides */
  }
  
  .embla__slide__img {
    border-radius: 1.8rem;
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
  
  .embla__controls {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 0.1rem;
  }
  
  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
  }
  
  .embla__button {
    -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem rgb(202, 202, 202);
    width: 2.0rem;
    height: 2.0rem;
    z-index: 1;
    border-radius: 50%;
    color: rgb(222, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .embla__button:disabled {
    color: rgb(101, 101, 101);
  }
  
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  
  .embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }
  
  .embla__dot {
    -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem rgb(25, 25, 25);
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
  
  .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem rgb(222, 222, 222);
  }
  
  .embla__slide {
    transition: opacity 0.2s ease-in-out;
  }
  
  .embla__slide:not(.is-snapped) {
    opacity: 0.16;
  }
  