@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
}

@layer base {
    .font-outline-2 {
        -webkit-text-stroke: 2px rgb(158, 86, 3);
      }
      .font-outline-4 {
        -webkit-text-stroke: 4px rgb(158, 86, 3);
      }
}

.roboto {
  font-family: 'Roboto', sans-serif;
}
